@model GammaViewModel

@{
    Layout = "~/Views/Shared/_Layout - MainApp.cshtml";
}
<button style="width: 30px; height: 30px; margin-top: 30px; position: fixed; background-color: transparent; border: 0px; margin-left: 10px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" style="margin-left: -7px; margin-top: -3px;">
        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
    </svg>
</button>
<h1 id="title" style="margin-left: 50px; margin-top: 20px; font-size: 35px;">@Html.LabelFor(x => x.Title1)</h1>

<button style="width: 30px; height: 30px; margin-top: 105px; position: fixed; background-color: transparent; border: 0px; margin-left: 10px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" style="margin-left: -7px; margin-top: -3px;">
        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
    </svg>
</button>
<h1 id="title" style="margin-left: 50px; margin-top: 95px; font-size: 35px;">@Html.LabelFor(x => x.Title2)</h1>

<button style="width: 30px; height: 30px; margin-top: 175px; position: fixed; background-color: transparent; border: 0px; margin-left: 10px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16" style="margin-left: -7px; margin-top: -3px;">
        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
    </svg>
</button>
<h1 id="title" style="margin-left: 50px; margin-top: 165px; font-size: 35px;">@Html.LabelFor(x => x.Title3)</h1>